<% title "View Community" %>
<%= render :partial => "communities/show/buttons" %>
<div id="email_header">
  <strong><%= @community.name %></strong>
</div>
<div id="show_content">
  <h3>Members</h3>
  <ul class="tag-show-users">
    <% @community.users.each do |u| %>
        <li><%= u.login %> (<%= u.realname %>) : <%= u.email %></li>
    <% end %>
  </ul>

  <h3>Description</h3>
  <%= @community.description %>
</div>

<div id="bottom_buttons">
  <%= render :partial => "communities/show/buttons" %>
</div>

